/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* base */
:root {
    --header-height: 3.5rem;
    --dark-mode: false;  

/* light mode color palette (for now) */
--first-color: hsl(230, 75%, 56%);
--title-color: hsl(230, 75%, 15%);
--text-color: hsl(230, 12%, 40%);
--body-color: hsl(0, 0%, 85%);
--container-color: hsl(232, 100%, 50%);
--border-color: hsl(230, 25%, 80%);

/* font */
--body-font: 'Poppins', sans-serif;
--h2-font-size: 1.25rem;
--normal-font-size: .938rem;
  background-color: rgb(34, 34, 34);
  transition: all .3s ease;

--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;

--z-fixed: 100;
--z-modal: 1000;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
}

/* header, nav */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
    z-index: var(--z-fixed);
}

.nav ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
    padding: 2rem;
    font-size: 1.5rem;
    flex: 0 0 auto;
    margin-right: -1.5rem;
}

.nav__actions {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 1.5rem;
    margin-left: auto;
}

.nav__login,
.nav__toggle,
.nav__close {
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .4s;
}



:is(.nav__logo, .nav__login, .nav__toggle, .nav__link):hover {
    color: var(--first-color);
}

/* mobile */
@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 2rem;
        transition: top 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .nav__list {
        flex-direction: column; 
        row-gap: 1rem; 
    }

    .nav__item {
        width: 100%; 
    }
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    text-align: left;
    align-items: left;
    flex: 1;
    margin-left: 1rem;
}

@media screen and (max-width: 767px) {
    .nav__list {
        flex-direction: column; 
        row-gap: 1rem; 
    }

    .nav__item {
        width: 100%; 
    }
}
.nav__link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}
.nav__close {
    position: absolute;
    top: .7rem;  
    right: .7rem;
    font-size: 1.5rem;  
    cursor: pointer;
}

/* desktop */
@media screen and (min-width: 1024px) {
    .nav__list {
        flex-direction: row; 
        flex-wrap: wrap; 
        row-gap: 2.5rem; 
        text-align: left; 
    }

    .nav__item {
        flex: 1 0 -50%; 
        padding-right: 15px; 
        padding-bottom: 1px; 
    }
}

.show-menu {
  top: 0;  
}

/* login */

.show-login-overlay {
    overflow: hidden;
}

.login {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-modal);
    background-color: hsla(34, 34, 34, 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* safari */
}
    .login.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 90%;
    max-width: 320px;
    background: linear-gradient(to bottom right, #ffffff, #e6e4ff);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.login__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.login__group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login__label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.login__input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login__link {
    color: var(--first-color);
    font-size: 1rem;
    text-align: center;
}

.login__button {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--container-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login__button:hover {
    background-color: hsl(230, 75%, 40%);
}

.login__close {
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
}

.visible {
    display: block; 
  }