/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* base styles */
:root {
    --header-height: 3.5rem;

    /* dark mode */
    --first-color-dark: #317c78;
    --title-color-dark: #b6b6b6;
    --text-color-dark: #3B3B3B;
    --body-color-dark: #181819;
    --container-color-dark: #e4e4e4;
    --border-color-dark: hsl(230, 25%, 80%);

    --body-font: 'Poppins', sans-serif;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    --z-fixed: 100;
    --z-modal: 1000;

    background-color: rgb(34, 34, 34);
    transition: all .3s ease;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color-dark);
    color: var(--text-color-dark);
    transition: background-color 0.4s, color 0.4s;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color-dark);
    z-index: var(--z-fixed);
    transition: background-color 0.4s;
}

.header {
    border-bottom: 1px solid hsla(0, 0%, 25%, 0.7);
    z-index: var(--z-modal);
}

.sidebar {
    border-right: 1px solid hsla(0, 0%, 25%, 0.7);
    z-index: var(--z-modal);
}


.nav ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.nav__logo {
    color: var(--title-color-dark);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
    padding: 2rem;
    font-size: 1.5rem;
    flex: 0 0 auto;
    margin-right: -1.5rem;
}

.nav__actions {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 1.5rem;
    margin-left: auto;
}

.nav__login,
.nav__toggle,
.nav__close {
    font-size: 1.5rem;
    color: var(--title-color-dark);
    cursor: pointer;
    transition: color .4s;
}

:is(.nav__login, .nav__toggle, .nav__link):hover {
    color: var(--first-color-dark);
}

/* mobile */
@media screen and (max-width: 700px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color-dark);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 2rem;
        transition: top 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: var(--z-modal);
        row-gap: 1rem;
    }

    .nav__list {
        flex-direction: column;
    }
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    text-align: left;
    align-items: left;
    flex: 1;
    margin-left: 1rem;
}

@media screen and (max-width: 701px) {
    .nav__list {
        flex-direction: column; 
    }

    .nav__item {
        width: 100%; 
    }
}
.nav__link {
    color: var(--title-color-dark);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
    display: block;
}

.nav__link.active {
    color: var(--first-color-dark);
}

.nav__close {
    position: absolute;
    top: 10px;  
    right: 10px;
    font-size: 24px;  
    cursor: pointer;
}

/* desktop */
@media screen and (min-width: 700px) {
    .nav__list {
        flex-direction: row; 
        flex-wrap: wrap; 
        row-gap: 2.5rem; 
        text-align: left; 
    }

    .nav__item {
        flex: 1 0 -50%; 
        padding-right: 15px; 
        padding-bottom: 1px; 
    }
}

.show-menu {
  top: 0;  
}

/* login */
.show-login-overlay {
    overflow: hidden;
}

.login {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-modal);
    background-color: hsla(0, 0%, 0%, 0.8);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); /* safari */
}
.login.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container {
    background-color: var(--body-color-dark);
    width: 100%;
    max-width: 420px; 
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    position: relative; 
    animation: slideIn 0.5;
}

.login__form,
.login__group {
    display: grid;
}

.login__form {
    width: 90%;
    max-width: 360px;
    margin: auto;
    background-color: var(--body-color-dark);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: none;
    box-shadow: 0 8px 12px hsla(0, 0, 0, 0.25);
    border-radius: 8px;
    transition: transform .4s, box-shadow .4s;
    display: grid;
    gap: 1rem;
}

@keyframes slideIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.login__title {
    font-size: var(--h2-font-size);
    color: var(--title-color-dark);
    text-align: center;
    margin-top: 15px;
}

.login__group {
    text-align: left;
}

.login__label {
    font-weight: var(--font-medium);
    display: block;
    text-align: initial;
    color: var(--title-color-dark);
}

.login__input {
    width: 100%;
    padding: .8rem;
    border: none;
    border-radius: 4px;
    color: var(--text-color-dark);
    box-sizing: border-box;
}

.login__input::placeholder {
    color: var(--text-color-dark);
}

.login__actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.login__button,
.login__signup-button {
    width: 48%;
    padding: 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow .4s, background-color .4s;
}

.login__signup-button {
    background-color: var(--first-color-dark);
}

.login__signup-button:hover {
    background-color: #54ada9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.login__button {
    background-color: var(--first-color-dark);
}

.login__button:hover {
    background-color: #54ada9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.login__google-button {
    width: 100%;
    padding: 1rem;
    background-color: #DB4437;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow .4s, background-color .4s;
}

.login__google-button:hover {
    background-color: hsl(0, 79%, 68%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.login__google-icon {
    width: 20px;
    height: 20px;
    background-image: url('public/google.svg');
    background-size: cover;
}

.login__links {
    display: flex;
    justify-content: space-between;
}

.login__link {
    color: var(--first-color-dark);
    font-size: 1rem;
    text-align: center;
}

.login__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color-dark);
}

.login__forgot-password {
    text-align: center;
    color: var(--first-color-dark);
    text-decoration: none;
    cursor: pointer;
}

.login__forgot-password:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.visible {
    display: block;
}

/* Media Queries */
@media screen and (min-width: 576px) {
    .login {
      padding-top: 10rem;
    }

    .login__form {
      max-width: 400px;
      margin-inline: auto;
    }
}
  
@media screen and (min-width: 700px) {
    .nav__close, 
    .nav__toggle {
      display: none;
    }
 
    .nav__list {
      flex-direction: row;
    }
  
    .login__form {
      padding: 3rem 2rem 3.5rem;
    }
}
  
@media screen and (min-width: 1150px) {
    .container {
      margin-inline: auto;
    }
}



.sidebar {
    width: 250px;
    background-color: var(--body-color-dark);
    padding: 20px;
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: calc(100% - var(--header-height));
    overflow-y: auto;
    transition: transform 0.3s ease, left 0.3s ease;
    z-index: var(--z-fixed);
}

.sidebar-section {
    margin-bottom: 20px;
}

.sidebar-section h2 {
    font-size: 1rem;
    color: var(--title-color-dark);
    margin-bottom: 10px;
}

.sidebar-section ul {
    list-style: none;
    padding: 0;
}

.sidebar-section ul li {
    padding: 8px 0;
    color: var(--text-color-dark);
    cursor: pointer;
}

.sidebar-section ul li:hover {
    color: var(--first-color-dark);
}

.sidebar-section ul .nav__link.active {
    color: var(--first-color-dark) !important;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .sidebar-toggle {
        right: -40px;
    }

    .sidebar.active .sidebar-toggle {
        right: -40px; /* Adjust to align with the sidebar */
    }

    .content {
        margin-left: 0;
        margin-top: var(--header-height);
        padding: 20px;
        flex-grow: 1;
    }
}

@media screen and (min-width: 769px) {
    .sidebar {
        transform: translateX(0);
    }

    .sidebar-toggle {
        display: none;
    }

    .content {
        margin-left: 250px;
        margin-top: var(--header-height);
        padding: 20px;
        flex-grow: 1;
    }
}

/* Overlay effect for the sidebar on small screens */
.sidebar-overlay {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: calc(100% - var(--header-height));
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-modal);
    display: none;
}

.sidebar-overlay.active {
    display: block;
}


/* podcasts.html */

#main-content {
    margin-left: 120px;
    margin-top: 15px;
    padding: 20px;
    background-color: var(--body-color-dark);
    min-height: calc(100vh - var(--header-height));
    position: relative;
}

#main-content h1 {
    font-size: 1.5rem;
    color: var(--title-color-dark);
    margin-bottom: 10px;
    font-weight: var(--font-semi-bold);
    display: inline-block;
}

.show-more {
    position: absolute;
    top: 20px;
    right: 5px;
    text-align: center;
    color: var(--first-color-dark);
    text-decoration: none;
    cursor: pointer;
}

.show-more:hover {
    text-decoration: underline;
}

.podcast-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    position: relative;
    margin-bottom: 65px;
}

.podcast-container a {
    text-decoration: inherit;
    color: inherit;
}

.podcast {
    position: relative;
    align-items: flex-start; 
    justify-content: flex-start;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(224, 224, 224, 0.8);
    padding: 10px;
    height: 180px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.podcast .platform-label {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 2px 8px;
    color: white;
    font-size: 0.8em;
    border-radius: 3px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.podcast .platform-label .visit-label {
    position: absolute;
    left: 100%; /* Start off the screen to the right */
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 100%;
    text-align: center;
}

.podcast .platform-label .platform-name {
    position: relative;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.podcast:hover .platform-label .visit-label {
    transform: translateX(-100%);
    opacity: 1;
}

.podcast:hover .platform-label .platform-name {
    transform: translateX(-100%);
    opacity: 0;
}

.podcast:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.podcast-content {
    flex: 1;
    padding: 10px; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.podcast-content h3 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--text-color-dark);
    text-decoration: none;
}

.podcast-content p {
    margin: 5px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em; 
    max-height: 3.6em; 
    text-decoration: none;
}

.podcast-content .author,
.podcast-content .genre {
    font-size: 0.9em;
    color: var(--text-color-dark);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0; 
}

.podcast-content .genre {
    font-style: italic;
}

.section {
    margin-bottom: 70px;
}

.podcast-section {
    position: relative;
}
