/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* base styles */
:root {
    --header-height: 3.5rem;
    --dark-mode: true;  

    /* light mode */
    --first-color: hsl(230, 75%, 56%);
    --title-color: hsl(230, 75%, 15%);
    --text-color: hsl(230, 12%, 40%);
    --body-color: hsl(0, 0%, 85%);
    --container-color: hsl(232, 100%, 50%);
    --border-color: hsl(230, 25%, 80%);

    /* dark mode */
    --first-color-dark: #317c78;
    --title-color-dark: #b6b6b6;
    --text-color-dark: #3B3B3B;
    --body-color-dark: #181819;
    --container-color-dark: hsl(232, 100%, 50%);
    --border-color-dark: hsl(230, 25%, 80%);

    --body-font: 'Poppins', sans-serif;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    --z-fixed: 100;
    --z-modal: 1000;

    background-color: rgb(34, 34, 34);
    transition: all .3s ease;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color-dark);
    color: var(--text-color-dark);
    transition: background-color 0.4s, color 0.4s;
}

/* Light mode styles */
body.light-mode {
    background-color: var(--body-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color-dark);
    box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
    z-index: var(--z-fixed);
    transition: background-color 0.4s;
}

body.light-mode .header {
    background-color: var(--body-color);
}

.nav ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.nav__logo {
    color: var(--title-color-dark);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
    padding: 2rem;
    font-size: 1.5rem;
    flex: 0 0 auto;
    margin-right: -1.5rem;
}

body.light-mode .nav__logo {
    color: var(--title-color);
}

.nav__actions {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 1.5rem;
    margin-left: auto;
}

.nav__login,
.nav__toggle,
.nav__close {
    font-size: 1.5rem;
    color: var(--title-color-dark);
    cursor: pointer;
    transition: color .4s;
}

body.light-mode .nav__login,
body.light-mode .nav__toggle,
body.light-mode .nav__close {
    color: var(--title-color);
}

:is(.nav__logo, .nav__login, .nav__toggle, .nav__link):hover {
    color: var(--first-color-dark);
}

/* mobile */
@media screen and (max-width: 700px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color-dark);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 2rem;
        transition: top 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: var(--z-modal);
        row-gap: 1rem;
    }

    body.light-mode .nav__menu {
        background-color: var(--body-color);
    }

    .nav__list {
        flex-direction: column;
    }
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    text-align: left;
    align-items: left;
    flex: 1;
    margin-left: 1rem;
}

@media screen and (max-width: 701px) {
    .nav__list {
        flex-direction: column; 
    }

    .nav__item {
        width: 100%; 
    }
}
.nav__link {
    color: var(--title-color-dark);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
    display: block;
}

.nav__link.active {
    color: var(--first-color-dark);
  }

body.light-mode .nav__link {
    color: var(--title-color);
}

.nav__close {
    position: absolute;
    top: 10px;  
    right: 10px;
    font-size: 24px;  
    cursor: pointer;
}

/* desktop */
@media screen and (min-width: 700px) {
    .nav__list {
        flex-direction: row; 
        flex-wrap: wrap; 
        row-gap: 2.5rem; 
        text-align: left; 
    }

    .nav__item {
        flex: 1 0 -50%; 
        padding-right: 15px; 
        padding-bottom: 1px; 
    }
}

.show-menu {
  top: 0;  
}

/* login */
.show-login-overlay {
    overflow: hidden;
}

.login {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-modal);
    background-color: hsla(0, 0%, 0%, 0.8);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); /* safari */
}
.login.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container {
    background-color: var(--body-color-dark);
    width: 100%;
    max-width: 420px; 
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    position: relative; 
    animation: slideIn 0.5;
}

body.light-mode .login__container {
    background-color: var(--body-color);
}

.login__form,
.login__group {
    display: grid;
}

.login__form {
    width: 90%;
    max-width: 360px;
    margin: auto;
    background-color: var(--body-color-dark);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: none;
    box-shadow: 0 8px 12px hsla(0, 0, 0, 0.25);
    border-radius: 8px;
    transition: transform .4s, box-shadow .4s;
    display: grid;
    gap: 1rem;
}

body.light-mode .login__form {
    background-color: var(--body-color);
}

@keyframes slideIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.login__title {
    font-size: var(--h2-font-size);
    color: var(--title-color-dark);
    text-align: center;
    margin-top: 15px;
}

body.light-mode .login__title {
    color: var(--title-color);
}

.login__group {
    text-align: left;
}

.login__label {
    font-weight: var(--font-medium);
    display: block;
    text-align: initial;
    color: var(--title-color-dark);
}

.login__input {
    width: 100%;
    padding: .8rem;
    border: none;
    border-radius: 4px;
    color: var(--text-color-dark);
    box-sizing: border-box;
}

body.light-mode .login__input {
    color: var(--text-color);
}

.login__input::placeholder {
    color: var(--text-color-dark);
}

body.light-mode .login__input::placeholder {
    color: var(--text-color);
}

.login__actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.login__button,
.login__signup-button {
    width: 48%;
    padding: 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow .4s, background-color .4s;
}

.login__signup-button {
    background-color: var(--first-color-dark);
}

.login__signup-button:hover {
    background-color: #54ada9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.login__button {
    background-color: var(--first-color-dark);
}

body.light-mode .login__button {
    background-color: var(--first-color);
}

.login__button:hover {
    background-color: #54ada9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.login__google-button {
    width: 100%;
    padding: 1rem;
    background-color: #DB4437;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow .4s, background-color .4s;
}

.login__google-button:hover {
    background-color: hsl(0, 79%, 68%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.login__google-icon {
    width: 20px;
    height: 20px;
    background-image: url('public/google.svg'); 
    background-size: cover;
}

.login__links {
    display: flex;
    justify-content: space-between;
}

.login__link {
    color: var(--first-color-dark);
    font-size: 1rem;
    text-align: center;
}

body.light-mode .login__link {
    color: var(--first-color);
}

.login__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color-dark);
}

body.light-mode .login__close {
    color: var(--text-color);
}

.login__forgot-password {
    text-align: center;
    color: var(--first-color-dark);
    text-decoration: none;
    cursor: pointer;
}

body.light-mode .login__forgot-password {
    color: var(--first-color);
}

.login__forgot-password:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.visible {
    display: block; 
}

@media screen and (min-width: 576px) {
    .login {
      padding-top: 10rem;
    }

    .login__form {
      max-width: 400px;
      margin-inline: auto;
    }
}
  
@media screen and (min-width: 700px) {
    .nav__close, 
    .nav__toggle {
      display: none;
    }
 
    .nav__list {
      flex-direction: row;
    }
  
    .login__form {
      padding: 3rem 2rem 3.5rem;
    }
}
  
@media screen and (min-width: 1150px) {
    .container {
      margin-inline: auto;
    }
}

/* Switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}
